{
    "name" => "case_001",
    "desc" => "This case is testing single channel",
    "channel" => "single",
    "load" => 10,
    "iteration" => 1,
    "iteration_timeout" => 1,
    "extra_worker" => 1,
    "storage" => "FS",
    "participant" => ["sizer", "resizer"],
    "workflow" => "../test_cases/workflow_simple.config"
}
