{
    "name" => "This case is just for developing work",
    "desc" => "to comments",
    "channel" => "multiple",  #client
    "load" => 2,  #client
    "iteration" => 1,  #client
    "iteration_timeout" => 1, #client minutes
    "extra_worker" => 1, #engine
    "storage" => "FS", #engine & global config [reference to global config for detail]
    "participant" => ["sizer", "resizer"],
    "workflow" => "workflow_simple.config", #client
}
