{
    "engine_logger" => {
        "name" => "persist_logger",
        "path" => "./persist_logger.rb", 
        "class" => "Ruote::PersistLogger",
    },

    "amqp" => {
        "host" => "amqpvm",
        "user" => "ruote",
        "pass" => "ruote",
        "vhost" => "ruote-test"
    },

    "participant" => {
        "sizer" => {
            "file" => "sizer.py", 
            "class" => "Sizer", 
            "type" => "RuoteAMQP::Participant",
            "command" => "/not/user", 
            "queue" => "sizer"
        },
        "resizer" => {
            "file" => "resizer.py", 
            "class" => "Resizer", 
            "type" => "RuoteAMQP::Participant",
            "command" => "/not/user", 
            "queue" => "resizer"
        },
    },

    "storage" => {
        "fs" => {
            "name" => "fs", 
            "class" => "Ruote::FsStorage"
        },
        "hs" => {
            "name" => "hs", 
            "class" => "Ruote::FsStorage"
        },
        "dbs" => {
            "name" => "dbs", 
            "class" => "Ruote::FsStorage"
        },
        "ms" => {
            "name" => "ms", 
            "class" => "Ruote::FsStorage"
        },
    },
}
